.about {
  padding-block: 35px;

  @media (min-width: $tablet-width) {
    padding-block: 50px 35px;
  }
}

.about__title {
  @include title;

  margin-block: 15px;
  font-size: 20px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 34px;
    line-height: 50px;
    margin-block: 0 30px;
  }
}

.about__wrapper p {
  font-size: 16px;
  line-height: 22px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}
