.about {
  padding-block: 50px;
}

.about__wrapper h2 {
  @include title;
  margin-block: 0 15px;
  font-size: 20px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 34px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    //
  }
}

.about__wrapper p {
  font-size: 16px;
  line-height: 22px;
  margin-block: 15px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}
