.about {
  padding-block: 50px;
}

.about__title {
  @include title;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  padding-block-end: 15px;
}

.about__term {
  display: inline-block;
}

.about__definition {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

.about__term-description {
  margin: 0;
  display: inline;
}
