.accordion {
  --padding-block: 24px;
  --padding-inline: 17px;
  --radius: 14px;
  --transparent: transparent;
  --dark: var(--brand, #0000ff);
  --dark-active: var(--active, #070777);
  --light: var(--light-accent, #ffffff);
  --icon-default: url("/__spritemap#sprite-plus-view");
  --icon-open: url("/__spritemap#sprite-minus-view");
  --icon-size-bg: 40px;
  --icon-size: 18px;

  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accordion__panel--is-open {
  display: flex;
  flex-direction: column;
  background-color: var(--dark);
  border-radius: var(--radius);
  color: var(--light);
}

.accordion__content--hidden {
  display: none;
}

.accordion__content--visible {
  display: block;
  padding-inline: 17px;
}

.accordion__content p {
  color: var(--light);
  margin-block: 0 20px;
}

.accordion__heading {
  margin: 0;
}

.accordion__trigger {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding-block: var(--padding-block);
  padding-inline: var(--padding-inline);
  border: none;
  border-radius: var(--radius);
  box-shadow: inset 0 0 0 2px var(--dark);
  color: var(--dark);
  background: transparent;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  transition: background-color 0.3s ease;
}

.accordion__trigger {

  &:hover,
  &:focus,
  &:focus-visible{
    outline: none;
    background: var(--white, #ffffff);
  }

  &:active {
    // background: var(--white, #ffffff);
    color: var(--dark-active);
    box-shadow:inset 0 0 0 2px var(--dark-active);
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: var(--icon-size);
    aspect-ratio: 1;
    right: calc(var(--icon-size) + var(--icon-size-bg)/4);
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: center;
  }

  &::after {
    content: "";
    display: block;
    width: var(--icon-size-bg);
    aspect-ratio: 1;
    border-radius: 30px;
    flex-shrink: 0;
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: center;
  }
}

.accordion__trigger--default::after {
  background: var(--dark);
}

.accordion__trigger--default:hover::after,
.accordion__trigger--default:focus::after,
.accordion__trigger--default:focus-visible:after {
  background: var(--transparent);
  box-shadow: inset 0 0 0 1px var(--dark);
}

.accordion__trigger--default:active::after {
  background: var(--dark-active);
}

.accordion__trigger--open {
  color: var(--white, #ffffff);

  &:hover,
  &:focus,
  &:focus-visible{
    outline: none;
    background-color: var(--transparent);
  }
}

.accordion__trigger--open::after {
  background: var(--white, #ffffff);
  box-shadow: inset 0 0 0 1px var(--dark);
}

.accordion__trigger--open:hover::after {
  background: var(--white, #ffffff);
  box-shadow: inset 0 0 0 1px var(--dark);
}

.accordion__trigger--default::before {
  mask-image: var(--icon-default);
  background-color: var(--light);
}

.accordion__trigger--default:hover::before,
.accordion__trigger--default:focus::before,
.accordion__trigger--default:focus-visible::before {
  background-color: var(--dark);
}

.accordion__trigger--default:active::before {
  background-color: var(--white, #ffffff);
}

.accordion__trigger--open::before {
  mask-image: var(--icon-open);
  background-color: var(--dark);
}

.accordion__content--open {
  display: block;
}

.accordion__content--close {
  display: none;
}
