.accordion {
  --transparent: transparent;
  --dark: var(--brand, #0000ff);
  --light: var(--light-accent, #ffffff);
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accordion__trigger {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 24px 17px;
  border: none;
  border-radius: 14px;
  box-shadow: inset 0 0 0 2px var(--dark);
  color: var(--dark);
  background: transparent;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}

.accordion__trigger::after {
  content: "";
  display: block;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 30px;
  background: var(--dark);
  flex-shrink: 0;
}

.accordion__heading {
  margin: 0;
}
