.btn {
  --size: 46px;
  --f-size: 14px;
  --color1: var(--brand, #0000ff);
  --color2: var(--white, #ffffff);
  --color3: var(--disabled, #484848);
  --border: 1px solid var(--color1);
  --gap: 20px;
  --icon-size: 20px;
  --icon: url("/__spritemap#sprite-burger-view");

  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: end;
  align-items: center;
  gap: var(--gap);

  position: relative;

  font-weight: 500;
  font-size: var(--f-size);
  line-height: var(--f-size);
  color: var(--color1);
  text-transform: uppercase;
  border: var(--border);
  border-radius: 30px;
  padding-block: 3px;
  padding-inline: 20px 4px;
  background: var(--color2);
  cursor: pointer;

  &::after {
    @include pseudo-element;
    border-radius: 50%;
    background: var(--color1);
    width: var(--size);
    height: var(--size);
    grid-area: 1/2;
  }

  &::before {
    @include pseudo-element;
    width: var(--icon-size);
    aspect-ratio: 1;
    background: var(--color2);
    grid-area: 1/2;
    justify-self: center;
  }
}

.btn:hover {
  background: var(--color1);
  color: var(--color2);

  &::before {
    background: var(--color1);
  }

  &::after {
    background: var(--color2);
  }
}

.btn:active {
  background: var(--color1);
  color: color-mix(in sRGB, var(--color2) 70%, transparent);

  &::after {
    background: var(--color2);
  }
}

.btn:disabled {
  color: var(--color3);
  background: transparent;
  border-color: var(--color3);
  cursor: not-allowed;

  &::after {
    background: var(--color3);
  }
}

.btn--burger {
  justify-self: end;

  &::before {
    mask: var(--icon);
    mask-repeat: no-repeat;
    mask-size: auto;
    mask-position: center;
  }
}

.btn--menu-opened {
  --icon: url("/__spritemap#sprite-cross-view");

  width: 100%;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  background: var(--color1);
  color: var(--color2);
  margin-block-end: 4px;

  &::before {
    background: var(--color1);
  }

  &::after {
    background: var(--color2);
  }
}
