.btn {
  position: relative;
  display: grid;
  gap: 20px;
  align-items: center;
  font-size: inherit;
  line-height: 1;
  font-weight: 500;
  color: var(--brand, #0000ff);
  text-transform: uppercase;
  border: 1px solid var(--brand, #0000ff);
  border-radius: 99em;
  padding: 3px 3px 3px 19px;
  background: var(--white, #ffffff);
  cursor: pointer;

  &::after {
    content: "";
    display: block;
    width: 46px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--brand, #0000ff);
    grid-area: 1/2;
  }

  &::before {
    content: "";
    display: block;
    width: 20px;
    aspect-ratio: 1;
    background: var(--white, #ffffff);
    grid-area: 1/2;
    justify-self: center;
  }
}

.btn:hover {
  background: var(--brand, #0000ff);
  color: var(--white, #ffffff);

  &::before {
    background: var(--brand, #0000ff);
  }

  &::after {
    background: var(--white, #ffffff);
  }
}

.btn:active {
  background: var(--brand, #0000ff);
  color: color-mix(in sRGB, var(--white, #ffffff) 70%, transparent);

  &::after {
    background: var(--white, #ffffff);
  }
}

.btn:disabled {
  color: var(--disabled, #484848);
  background: transparent;
  border-color: var(--disabled, #484848);
  cursor: not-allowed;

  &::after {
    background: var(--disabled, #484848);
  }
}

.btn--burger {
  --icon: url("/__spritemap#sprite-burger-view");

  justify-self: end;

  &::before {
    mask: var(--icon);
    mask-repeat: no-repeat;
    mask-size: auto;
    mask-position: center;
  }
}

.btn--cross {
  --icon: url("/__spritemap#sprite-cross-view");

  width: 100%;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  background: var(--brand, #0000ff);
  color: var(--white, #ffffff);
  margin-block-end: 4px;

  &::before {
    background: var(--brand, #0000ff);
  }

  &::after {
    background: var(--white, #ffffff);
  }
}
