.button {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: var(--brand, #333333);
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  width: 223px;
  min-height: 44px;
  border: 1px solid var(--brand, #0000ff);
  border-radius: 30px;
  background-color: var(--white, #ffffff);
  padding-inline-start: 21px;
  gap: 24px;
}

.button:hover {
  background-color: var(--brand, #0000ff);
  color: var(--white, #ffffff);
}

.button:hover::after {
  background-color: var(--white, #ffffff);
}

.button:hover::before {
  transform: rotate(45deg);
  background-color: var(--brand, #0000ff);
}

.button:active {
  background-color: var(--brand, #0000ff);
  color: var(--white, #ffffff);
  opacity: 0.7;
}

.button:active::before {
  background-color: var(--brand, #0000ff);
}

.button::after {
  content: "";
  display: block;
  border-radius: 50%;
  background-color: var(--brand, #0000ff);
  width: 34px;
  height: 34px;
}

.button::before {
  content: "";
  display: block;
  position: absolute;
  mask: url("/__spritemap#sprite-arrow-link-view") center / cover no-repeat;
  width: 8px;
  aspect-ratio: 1;
  right: 16px;
  background-color: var(--white, #ffffff);
}

.button__is--disabled {
  color: var(--disabled, #484848);
  background-color: transparent;
  border-color: var(--disabled, #484848);
  cursor: not-allowed;
  pointer-events: none;

  &::after {
    background-color: var(--disabled, #484848);
  }
}
