.button {
  --size: 46px;
  --f-size: 14px;
  --c1: var(--brand, #0000ff);
  --c2: var(--white, #ffffff);
  --c3: var(--disabled, #484848);
  --border: 1px solid var(--c1);
  --gap: 20px;
  --icon: url("../../img/sprite/burger.svg") center / auto no-repeat;
  --icon-size: 20px;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  justify-content: end;
  align-items: center;
  gap: var(--gap);

  position: relative;

  font-weight: 500;
  font-size: var(--f-size);
  line-height: var(--f-size);
  color: var(--c1);
  text-transform: uppercase;
  border: var(--border);
  border-radius: 30px;
  padding: 3px 4px 3px 20px;
  background: var(--c2);

  &::after {
    @include pseudoelement;
    border-radius: 50%;
    background-color: var(--c1);
    width: var(--size);
    aspect-ratio: 1;
  }

  &::before {
    @include pseudoelement;
    position: absolute;
    width: 20px;
    height: 20px;
    mask: var(--icon);
    background-color: var(--c2);
    grid-column: 2;
    justify-self: center;
  }
}

.button:hover {
  background: var(--c1);
  color: var(--c2);

  &::after {
    background-color: var(--c2);
  }
}

.button:active {
  background-color: var(--c1);
  color: color-mix(in sRGB, var(--c2) 70%, transparent);

  &::after {
    background-color: var(--c2);
  }
}

.button:disabled {
  color: var(--c3);
  background-color: transparent;
  border-color: var(--c3);
  cursor: not-allowed;

  &::after {
    background-color: var(--c3);
  }
}


.button--dark {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: var(--white, #ffffff);
  text-transform: uppercase;
  min-height: 44px;
  min-width: 260px;
  border: 1px solid var(--white, #0000ff);
  border-radius: 30px;
  background-color: var(--brand, #0000ff);
  padding: 0 4px 0 20px;
  gap: 20px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    mask: url("/__spritemap#sprite-arrow-link-view") center / cover no-repeat;
    width: 8px;
    aspect-ratio: 1;
    right: 16px;
    background-color: var(--brand, #0000ff);
  }

  &::after {
    content: "";
    display: block;
    border-radius: 50%;
    background-color: var(--white, #ffffff);
    width: 34px;
    height: 34px;
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    gap: 30px;
  }
}

.button--news {
  min-height: 36px;
  padding-inline: 16px;
  background: transparent;
  border: none;
  opacity: 0.6;

  &::before,
  &::after {
    display: none;
  }
}
