.criteria {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 22px;
  background-color: var(--brand, #0000ff);
  border-radius: 20px;
  padding-inline: 20px;
  padding-block: 40px;
  margin-block-end: 15px;
  color: var(--white, #ffffff);

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    padding: 50px;
    gap: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-inline: 100px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.criteria__item {
  position: relative;
  padding-block: 16px;
  padding-inline: 21px;
  box-shadow: inset 0 0 0 1px var(--white, #ffffff);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (min-width: $tablet-width) {
    margin: 22px 0 0 22px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding: 31px 41px;
    align-items: center;
  }
}

.criteria__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 22px;
  background-image: url("/__spritemap#sprite-star-view");
  background-color: var(--brand, #0000ff);
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  box-shadow: 10px 6px 0 2px var(--brand, #0000ff);

}

.criteria__header {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 30px;
    flex: 1;
  }
}

.criteria__description {
  font-weight: 300;
  margin: 0;
  grid-row: 2;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    flex: 1;
  }
}
