.criteria {
  @include list-reset;

  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: var(--brand, #0000ff);
  border-radius: 20px;
  padding-inline: 20px;
  padding-block: 40px;
  margin-block-start: 41px;
  margin-block-end: 15px;
  color: var(--white, #ffffff);

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    padding: 50px;
    gap: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-inline: 100px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.criteria__item {
  position: relative;
  padding-inline: 21px;
  box-shadow: inset 0 0 0 1px var(--white, #ffffff);
  border-radius: 16px;

  @media (min-width: $tablet-width) {
    margin: 20px 0 0 20px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 31px 41px;
    align-items: center;
  }
}

.criteria__item--grant {
  flex-direction: column;
  counter-increment: number 1;
  padding-inline: 25px;
  padding-block: 16px;
}

.criteria__item--grant::before {
  content: counter(number);
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 12px;
  border-radius: 30px;
  background-color: var(--brand, #0000ff);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 7px var(--brand, #0000ff);

  @media (min-width: $tablet-width) {
    font-size: 22px;
    line-height: 22px;
  }
}


.criteria__item--about {
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 22px;
    background-color: var(--brand, #0000ff);
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    box-shadow: 10px 6px 0 2px var(--brand, #0000ff);
    background-image: url("/__spritemap#sprite-star-view");
  }
}

.criteria__item h3 {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 30px;
    margin-block: 20px;
    flex: 1;
  }
}

.criteria__item p {
  font-weight: 300;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    flex: 1;
    grid-row: 2;
  }
}
