.faq {
  padding-block: 50px;
}

.faq__container {
  @media (min-width: $desktop-width) {
    width: 1028px;
  }
}

.faq__title {
  @include title;
  font-size: 20px;
  margin-block: 0 30px;
  text-align: center;

}
