.feedback{
  position: relative;
  min-height: 753px;
  margin-block: 40px;

  @media (min-width: $tablet-width) {
    margin-block: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-block: 60px;
  }
}

.feedback::before {
  @include feedback-bg;
  min-height: 753px;
  background-image: image-set(
      "../img/feedback/feedback-bg-mobile@1x.webp" 1x,
      "../img/feedback/feedback-bg-mobile@2x.webp" 2x,
      "../img/feedback/feedback-bg-mobile@1x.jpg" 1x,
      "../img/feedback/feedback-bg-mobile@2x.jpg" 2x
    );
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.feedback__container{
  min-width: 300px;
  padding-block-start: 43px;
  @media (min-width: $tablet-width) {
    position: relative;
    min-height: 753px;
  }
}

.feedback__container::before {

  @media (min-width: $tablet-width) {
    @include feedback-bg;
    min-height: 780px;
    border-radius: 16px;
    background-image: image-set(
      "../img/feedback/feedback-bg-tablet@1x.webp" 1x,
      "../img/feedback/feedback-bg-tablet@2x.webp" 2x,
      "../img/feedback/feedback-bg-tablet@1x.jpg" 1x,
      "../img/feedback/feedback-bg-tablet@2x.jpg" 2x
    );
  }

  @media (min-width: $desktop-width) {
    background-image: image-set(
      "../img/feedback/feedback-bg-desktop@1x.webp" 1x,
      "../img/feedback/feedback-bg-desktop@2x.webp" 2x,
      "../img/feedback/feedback-bg-desktop@1x.jpg" 1x,
      "../img/feedback/feedback-bg-desktop@2x.jpg" 2x
    );
  }
}


.feedback__form {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: var(--brand, #0000ff);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 16px;

  @media (min-width: $tablet-width) {
    width: 442px;
  }
}

.feedback__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--white, #ffffff);
  margin: 0;
}

.feedbeck__text {
  color: var(--white, #ffffff);
  margin: 0;
}

.feedback__set {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  gap: 12px;
  color: var(--white, #ffffff);
  font-size: 12px;
  line-height: 14px;
}

.feedback__set:has([type="checkbox"]) {
  flex-direction: row-reverse;
}
