.feedback{
  --bg-image: image-set(
    "../img/feedback/feedback-bg-mobile@1x.webp" 1x,
    "../img/feedback/feedback-bg-mobile@2x.webp" 2x,
    "../img/feedback/feedback-bg-mobile@1x.jpg" 1x,
    "../img/feedback/feedback-bg-mobile@2x.jpg" 2x
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-block: 40px;
  min-height: 753px;
  background: var(--bg-image) no-repeat center / cover;

  @media (min-width: $tablet-width) {
    --bg-image: image-set(
      "../img/feedback/feedback-bg-tablet@1x.webp" 1x,
      "../img/feedback/feedback-bg-tablet@2x.webp" 2x,
      "../img/feedback/feedback-bg-tablet@1x.jpg" 1x,
      "../img/feedback/feedback-bg-tablet@2x.jpg" 2x
    );
    margin-block: 50px;
    background: none;
  }

  @media (min-width: $desktop-width) {
    --bg-image: image-set(
      "../img/feedback/feedback-bg-desktop@1x.webp" 1x,
      "../img/feedback/feedback-bg-desktop@2x.webp" 2x,
      "../img/feedback/feedback-bg-desktop@1x.jpg" 1x,
      "../img/feedback/feedback-bg-desktop@2x.jpg" 2x
    );
    margin-block: 60px;
  }
}

.feedback__container {
  width: 300px;
  margin: auto;

  @media (min-width: $tablet-width) {
    position: relative;
    background: var(--bg-image) no-repeat center / cover;
    width: 652px;
  }

  @media (min-width: $desktop-width) {
    width: 1240px;
  }
}

.feedback__container {

  @media (min-width: $tablet-width) {
    border-radius: 16px;
  }
}

.feedback__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  background-color: var(--brand, #0000ff);
  border-radius: 16px;

  @media (min-width: $tablet-width) {
    width: 442px;
    padding-block: 41px 36px;
    padding-inline: 40px;
    margin: 0;
  }
}

.feedback__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--white, #ffffff);
  margin-block: 0 31px;
}

.feedback__text {
  color: var(--white, #ffffff);
  margin-block: 15px 0;
}

.feedback__set {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}

.feedback__set input:not([type="checkbox"]), .feedback__set-message {
  @include form-fields;
  color: var(--white, #ffffff);
}

.feedback__set-message {
  resize: none;
  height: 88px;
}

.feedback__set-fields {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feedback__set-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: var(--white, #ffffff);
  font-size: 12px;
  line-height: 14px;
}

.feedback__set-item:has([type="checkbox"]) {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}

.feedback__set-check {
  appearance: none;
  flex: 0 0 auto;
  margin: 0;
  width: 20px;
  height: 20px;
  background-color: var(--white, #ffffff);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback__set-check:checked::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: var(--brand, #0000ff);
  mask-image: url("/__spritemap#sprite-check-view");
  mask-repeat: no-repeat;
  mask-position: center;
}

.feedback__form-button {
  width: 100%;
  justify-content: space-between;
}

.feedback__form-button span {
  flex: 1;
  justify-content: flex-end;
  gap: 30px;
}

.feedback__city-select {
  display: none;
}
