.footer__container {
  padding-block: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: max-content 1fr auto;
    column-gap: 52px;
  }

  @media (min-width: $desktop-width) {
    padding-block-start: 60px;
  }
}

.footer__nav-list {
  @media (min-width: $tablet-width) {
    justify-content: end;
    grid-column: span 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: auto;
  }
}

.footer__social {
  order: 1;

  @media (min-width: $desktop-width) {
    order: 0;
  }
}

.footer__copyright {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;

  @media (min-width: $tablet-width) {
    align-items: start;
    grid-column: span 2;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    grid-column: 1/-1;
  }
}

.footer__copyright-text {
  opacity: 0.6;
  margin-block: 10px 15px;
  font-size: 12px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    line-height: 12px;
    margin-block-end: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
  }
}

.footer__copyright-link {
  color: inherit;
  text-underline-offset: 3px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;

  &:hover {
    color: var(--brand, #316dc2);
    opacity: 0.7;
    outline: none;
  }

  &:focus,
  &:focus-visible {
    color: var(--brand, #316dc2);
    opacity: 1;
    outline: none;
  }

  &:active {
    color: var(--active, #275699);
  }

  @media (min-width: $tablet-width) {
    margin-inline-start: 0;
    line-height: 12px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
  }
}
