.footer__container {
  padding-block: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width:$tablet-width) {
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(2,auto);
  }

  @media (min-width:$desktop-width) {
    grid-template-columns: 52px auto;
  }
}

.footer__logo {

  @media (min-width:$tablet-width) {
    grid-column: 1/1;
    grid-row: 1/2;
  }

  @media (min-width:$desktop-width) {
    max-width: fit-content;
    grid-template-columns: 52px auto;
  }
}

.footer__nav-list {
  @media (min-width:$tablet-width) {
    justify-content: end;
    grid-column: 2/5;
    grid-row: 1/2;
  }

  @media (min-width:$desktop-width) {
    grid-column: 2/4;
  }
}

.footer__social {
  order: 1;

  @media (min-width:$tablet-width) {
    grid-column: 4/5;
  }

  @media (min-width:$desktop-width) {
    grid-row: 1;
    grid-column: 4/5;
  }
}

.footer__copyright {
  display: flex;
  flex-direction: column-reverse;

  @media (min-width:$tablet-width) {
    grid-column: 1/3;
    align-items: start;
  }

  @media (min-width:$desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    grid-column: 1/5;
  }
}

.footer__copyright-text {
  opacity: 0.6;
  margin-block: 10px 15px;

  @media (min-width:$tablet-width) {
    line-height: 12px;
    margin-block-end: 0;
  }

  @media (min-width:$desktop-width) {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
  }
}

.footer__copyright-link {
  @include link-reset;
  margin: 0 auto;
  border-bottom: 1px solid;

  @media (min-width:$tablet-width) {
    margin-inline-start: 0;
    line-height: 12px;
  }

  @media (min-width:$desktop-width) {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
  }
}

.footer-nav__link,
.footer__copyright-link {

  &:hover {
    color: var(--brand, #316dc2);
    opacity: 0.7;
    outline: none;
  }

  &:focus,
  &:focus-visible {
    color: var(--brand, #316dc2);
    opacity: 1;
    outline: none;
  }

  &:active {
    color: var(--active, #275699);
  }
}
