.grant {
  background-color: var(--brand, #0000ff);
  padding-block: 70px;
  color: var(--white, #ffffff);

  @media (min-width: $tablet-width) {
    padding-block: 100px;
  }
}

.grant__container {

  @media (min-width: $desktop-width) {
    display: grid;
    column-gap: 138px;
  }
}

.grant__intention {
  grid-row: 1 / 3;
}

.grant__title {
  font-weight: 400;
  font-size: 20px;
  margin-block: 0 15px;

  @media (min-width: $tablet-width) {
    font-size: 34px;
    line-height: 50px;
    margin-block-end: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
  }
}

.grant__text {
  font-size: 18px;
  line-height: 22px;
  margin-block: 0 25px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: $desktop-width) {
    font-size: 32px;
    line-height: 36px;
    grid-column: 2 / 3;
    grid-row: 1;
    width: 373px;
  }
}

picture:has(.grant__image) {
  display: contents;
}

.grant__image {
  margin-block:15px 40px;

  @media (min-width: $tablet-width) {
    margin-block-start: 25px;
  }
}

.grant__item-text {
  margin-block: 25px;

  @media (min-width: $tablet-width) {
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    margin-block: 15px;
  }
}

.grant__element {
  padding-inline-end: 0;
  padding-block: 0;

  @media (min-width: $tablet-width) {
    margin-block-start: 25px;
    padding-inline-start: 0;
  }

  @media (min-width: $desktop-width) {
    margin-block-start: 0;
    margin-inline-end: 106px;
    display: flex;
    gap: 8px;
    grid-column: 2 / 3;
    grid-row: 2;
  }
}
