.header {
  position: absolute;
  width: 100%;
  z-index: 3;
}

.header__container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding-block-start: 21px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-block-start: 32px;
  }
}

.header__logo {
  position: relative;
  z-index: -1;
}
