.header {
  position: absolute;
  width: 100%;
  z-index: 3;
}

.header__container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding-block-start: 21px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-block-start: 32px;
  }
}

.header__logo-overlay--is-active{

    @media (min-width: $tablet-width) {

      &::before {
      content: "";
      position: absolute;
      width: 52px;
      height: 52px;
      background-color: rgb(0, 0, 0, 0.5);
      border-radius: 50%;
      z-index: 2;
    }
  }
}

.header__nav-list {
  @include list-reset;
  display: flex;
  visibility: hidden;
  width: 290px;
  padding-inline: 25px;
  padding-block: 32px 28px;
  flex-direction: column;
  background-color: var(--brand, #316dc2);
  border-radius: 16px;
  gap: 21px;
}

.header__nav-list--submenu {
  padding-inline: 16px;
  padding-block: 14px 0;
  width: 100%;
  gap: 8px;
}



.header__nav-link,
.header__nav-button--submenu {

  letter-spacing: 0.02em;
  color: var(--white, #ffffff);
  opacity: 0.7;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover,
  &:focus,
  &:focus-visible {
    outline: none;
    opacity: 1;
  }

}

.header__nav-link,
.header__nav-button--submenu {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: var(--white, #ffffff);
  opacity: 0.7;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover,
  &:focus,
  &:focus-visible {
    outline: none;
    opacity: 1;
  }
}

.header__nav-link--submenu {
  text-transform: none;
  font-weight: 400;
  opacity: 0.6;

  &:hover,
  &:focus,
  &:focus-visible {
    opacity: 0.9;
  }
}

.header__nav-button--submenu {
  display: flex;
  gap: 10px;
  border: none;
  padding-inline: 0;
  background: transparent;
  text-transform: uppercase;

  &::after {
    content: "";
    display: block;
    right: 0;
    width: 12px;
    height: 16px;
    mask-image: url("/__spritemap#sprite-check-mark-view");
    mask-repeat: no-repeat;
    mask-size: 100%;
    mask-position: 50% 50%;
    background-color: var(--white, #ffffff);
  }
}

.header__nav--submenu-open-button::after {
  transform: rotate(180deg);
}
