.header {
  position: absolute;
  width: 100%;
  z-index: 2;
  padding-block: 21px;

  @media (min-width: $tablet-width) {
    padding-block: 32px;
  }
}

.header__container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
}
