.header {
  position: fixed;
  width: 100%;
}

.header__container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding-block-start: 20px;
}

.header__toggle {
  justify-self: end;
}

.header__menu:has(.header__toggle--opened) {
  justify-self: end;
  width: 290px;
}

.header__menu--is-close {
  .header__nav-list {
    display: none;
  }
}

.header__menu--is-open {
  .header__nav-list {
    display: flex;
  }
}
