.hero {
  position: relative;
  height: auto;
  overflow: hidden;
}

.hero__slides-list {
  @include list-reset;
}

.hero__slide {
  display: flex;
  align-items: end;
  background: var(--hero-slide-background) no-repeat center/cover;
  text-align: center;
  min-height: 568px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-overlay, transparent);
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    min-height: 1024px;
  }

  @media (min-width: $desktop-width) {
    min-height: 800px;
  }
}

.hero__slide--professional {
  --hero-slide-background:
    image-set(
      "../img/hero-slider/professional/professional-experience-mobile@1x.webp" 1x,
      "../img/hero-slider/professional/professional-experience-mobile@2x.webp" 2x,
      "../img/hero-slider/professional/professional-experience-mobile@1x.jpg" 1x,
      "../img/hero-slider/professional/professional-experience-mobile@2x.jpg" 2x
    );

  @media (min-width: $tablet-width) {
    --hero-slide-background:
      image-set(
        "../img/hero-slider/professional/professional-experience-tablet@1x.webp" 1x,
        "../img/hero-slider/professional/professional-experience-tablet@2x.webp" 2x,
        "../img/hero-slider/professional/professional-experience-tablet@1x.jpg" 1x,
        "../img/hero-slider/professional/professional-experience-tablet@2x.jpg" 2x
      );
  }

  @media (min-width: $desktop-width) {
    --hero-slide-background:
      image-set(
        "../img/hero-slider/professional/professional-experience-desktop@1x.webp" 1x,
        "../img/hero-slider/professional/professional-experience-desktop@2x.webp" 2x,
        "../img/hero-slider/professional/professional-experience-desktop.jpg" 1x,
        "../img/hero-slider/professional/professional-experience-desktop@2x.jpg" 2x
      );
  }
}

.hero__slide--volunteer {
  --hero-slide-background:
    image-set(
      "../img/hero-slider/volunteer/volunteer-programs-mobile@1x.webp" 1x,
      "../img/hero-slider/volunteer/volunteer-programs-mobile@2x.webp" 2x,
      "../img/hero-slider/volunteer/volunteer-programs-mobile@1x.jpg" 1x,
      "../img/hero-slider/volunteer/volunteer-programs-mobile@2x.jpg" 2x
    );

  @media (min-width: $tablet-width) {
    --hero-slide-background:
      image-set(
        "../img/hero-slider/volunteer/volunteer-programs-tablet@1x.webp" 1x,
        "../img/hero-slider/volunteer/volunteer-programs-tablet@2x.webp" 2x,
        "../img/hero-slider/volunteer/volunteer-programs-tablet@1x.jpg" 1x,
        "../img/hero-slider/volunteer/volunteer-programs-tablet@2x.jpg" 2x
      );
  }

  @media (min-width: $desktop-width) {
    --hero-slide-background:
      image-set(
        "../img/hero-slider/volunteer/volunteer-programs-desktop@1x.webp" 1x,
        "../img/hero-slider/volunteer/volunteer-programs-desktop@2x.webp" 2x,
        "../img/hero-slider/volunteer/volunteer-programs-desktop.jpg" 1x,
        "../img/hero-slider/volunteer/volunteer-programs-desktop@2x.jpg" 2x
      );
  }
}

.hero__slide--internship {
  --hero-slide-background:
    image-set(
      "../img/hero-slider/internship/internship-programs-mobile@1x.webp" 1x,
      "../img/hero-slider/internship/internship-programs-mobile@2x.webp" 2x,
      "../img/hero-slider/internship/internship-programs-mobile@1x.jpg" 1x,
      "../img/hero-slider/internship/internship-programs-mobile@2x.jpg" 2x);

  @media (min-width: $tablet-width) {
    --hero-slide-background:
      image-set(
        "../img/hero-slider/internship/internship-programs-tablet@1x.webp" 1x,
        "../img/hero-slider/internship/internship-programs-tablet@2x.webp" 2x,
        "../img/hero-slider/internship/internship-programs-tablet@1x.jpg" 1x,
        "../img/hero-slider/internship/internship-programs-tablet@2x.jpg" 2x);
  }

  @media (min-width: $desktop-width) {
    --hero-slide-background:
      image-set(
        "../img/hero-slider/internship/internship-programs-desktop@1x.webp" 1x,
        "../img/hero-slider/internship/internship-programs-desktop@2x.webp" 2x,
        "../img/hero-slider/internship/internship-programs-desktop.jpg" 1x,
        "../img/hero-slider/internship/internship-programs-desktop@2x.jpg" 2x
      );
  }
}

.hero__container {
  display: grid;
  margin-block-end: 21px;

  @media (min-width: $tablet-width) {
    padding-inline-end: 20px;
    margin-block-end: 60px;
  }
}


[data-hero-pagination="hero-pagination"].swiper-pagination {
  top: 0;
  border-radius: 12px 12px 0 0;
  display: flex;
  padding: 10px 16px;
  width: max-content;
  gap: 12px;

  &::after {
    top: auto;
    bottom: 0;
  }
}

[data-hero-pagination="hero-pagination"] .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border: 2px solid var(--brand, #0000ff);
  background-color: var(--white, #ffffff);
  opacity: 1;

  --swiper-pagination-bullet-horizontal-gap: 0;

  @media (min-width: $tablet-width) {
    width: 12px;
    height: 12px;
  }
}

[data-hero-pagination="hero-pagination"] .swiper-pagination-bullet-active {
  background-color: var(--brand, #0000ff);
}


.hero__title {
  color: var(--brand, #0000ff);
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: left;
  background-color: var(--white, #ffffff);
  margin: 0;
  padding: 20px 16px 15px 14px;
  border-radius: 0 16px 16px 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 44px;
    padding: 30px 40px 24px;
  }

  @media (min-width: $desktop-width) {
    margin-inline-end: 272px;
    font-size: 54px;
    line-height: 62px;
    padding: 40px 50px 30px;
  }
}

.hero__content-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    width: 968px;
  }
}

.hero__text {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  font-size: 16px;
  border-radius: 0 0 16px;
  padding-inline: 15px;
  margin-inline-end: 23px;

  @media (min-width: $tablet-width) {
    width: auto;
    border-radius: 0 0 0 16px;
    padding: 0 30px 20px 40px;
    margin-inline-end: 0;
  }

  @media (min-width: $desktop-width) {
    line-height: 26px;
  }
}

.hero__text p {
  margin-block: 0 15px;

  @media (min-width: $tablet-width) {
    width: 285px;
    margin-block-start: 0;
  }

  @media (min-width: $desktop-width) {
    width: 446px;
  }
}

.hero__link-wrapper {
  position: relative;
  background-color: var(--white, #ffffff);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 10px 15px;
  border-radius: 0 0 16px 16px;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    border-radius: 0 0 16px;
    padding-block: 0;
    padding-inline-end: 40px;
  }
}

.hero__link {
  @include link-reset;

  color: var(--brand, #0000ff);
}
