.intention {
  padding-block-end: 40px;
}

.intention h3 {
  @include title;

  font-size: 18px;
  line-height: 22px;
  margin-block: 40px 20px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
    margin-block-end: 30px;
  }
}

.intention p {
  @media (min-width: $tablet-width) {
    font-size: 16px;
    width: 498px;;
  }
}

.intention__button {
  margin-block-start: 30px;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    margin-block-start: 40px;
  }
}
