.intention {
  padding-block: 40px;
}

.intention__title {
  @include title;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.intention__description {
  margin: 0;
  padding-block: 20px 30px;
}
