// .nav-accordion {
//   appearance: none;
//   color: var(--white, #ffffff);
//   font-size: 16px;
//   line-height: 16px;
//   text-transform: uppercase;
//   display: flex;
//   flex-direction: column;
// }

// .nav-accordion__header::marker {
//   content: "";
//   display: none;
// }

// .nav-accordion__header {
//   position: relative;
//   opacity: 0.7;
//   display: flex;
//   column-gap: 10px;

//   &:hover,
//   &:focus,
//   &:focus-visible {
//     outline: none;
//     opacity: 1;
//   }
// }

// .nav-accordion__header::after {
//   content: "";
//   display: block;
//   right: 0;
//   width: 12px;
//   height: 16px;
//   mask-image: url("/__spritemap#sprite-check-mark-view");
//   mask-repeat: no-repeat;
//   mask-size: 100%;
//   mask-position: 50% 50%;
//   background-color: var(--white, #ffffff);
// }

// .nav-accordion[open] .nav-accordion__header {
//   opacity: 1;

//   &::after {
//     transform: rotate(180deg);
//   }
// }


// .nav-accordion__item {
//   display: block;
//   margin-inline-start: 16px;
//   font-size: 16px;
//   line-height: 16px;
//   color: var(--white, #ffffff);
//   opacity: 0.7;
//   text-decoration: none;
//   text-transform: none;

//   &:hover,
//   &:focus,
//   &:focus-visible {
//     outline: none;
//     opacity: 1;
//   }
// }

// .nav-accordion__item:nth-of-type(1) {
//   padding-block-start: 16px;
// }

// .nav-accordion__item:not(:last-child) {
//   padding-block-end: 16px;
// }
