.nav--overlay {
  &::before {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    box-shadow: 0 0 0 100vw rgb(0, 0, 0, 0.5);
    z-index: -1;
  }
}

.nav-list {
  @include list-reset;

  display: flex;
  width: 290px;
  padding-inline: 25px;
  padding-block: 32px 28px;
  flex-direction: column;
  background-color: var(--brand, #316dc2);
  border-radius: 16px;
  gap: 21px;
}

.is-hidden {
  .nav-list {
    display: none;
  }
}

.nav-list--submenu {
  padding-inline: 16px;
  padding-block: 14px 0;
  width: 100%;
  gap: 8px;
}


.nav-link,
.nav-btn--submenu {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--white, #ffffff);
  opacity: 0.7;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover,
  &:focus,
  &:focus-visible {
    outline: none;
    opacity: 1;
  }
}

.nav-link--submenu {
  text-transform: none;
  font-weight: 400;
  opacity: 0.6;

  &:hover,
  &:focus,
  &:focus-visible {
    opacity: 0.9;
  }
}

.nav-btn--submenu {
  display: flex;
  gap: 10px;
  border: none;
  padding-inline: 0;
  background: transparent;
  text-transform: uppercase;

  &::after {
    content: "";
    display: block;
    right: 0;
    width: 12px;
    height: 16px;
    mask-image: url("/__spritemap#sprite-check-mark-view");
    mask-repeat: no-repeat;
    mask-size: 100%;
    mask-position: 50% 50%;
    background-color: var(--white, #ffffff);
  }
}

.nav--btn-submenu-open::after {
  transform: rotate(180deg);
}
