.nav:not(.is-hidden)::before {
  content: "";
  display: block;
  position: fixed;
  inset: 0;
  width: 100%;
  pointer-events: none;
  background-color: rgb(0, 0, 0, 0.5);
}

.nav__list {
  list-style: none;
  position: relative;
  width: 290px;
  margin: 0;
  padding: 30px 23px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  background-color: var(--brand, #316dc2);
  border-radius: 16px;
}

.nav__list--submenu {
  padding: 14px 16px 0;
  width: 100%;
  gap: 8px;
}

.nav__link--submenu {
  text-transform: none;
  font-weight: 400;
  opacity: 0.6;

  &:hover,
  &:focus,
  &:focus-visible {
    opacity: 0.9;
  }
}

.nav__link,
.nav__btn {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: var(--white, #ffffff);
  opacity: 0.7;
  cursor: pointer;

  &:hover,
  &:focus,
  &:focus-visible {
    outline: none;
    opacity: 1;
  }
}

.nav__btn {
  display: flex;
  gap: 10px;
  border: none;
  padding-inline: 0;
  background: transparent;

  &::after {
    content: "";
    display: block;
    width: 12px;
    height: 16px;
    mask: url("/__spritemap#sprite-check-mark-view") no-repeat center;
    background-color: var(--white, #ffffff);
  }
}

.is-hidden {
  .nav__list {
    display: none;
  }

  .nav__btn::after {
    transform: rotate(180deg);
  }
}
