.news {
  padding-block: 50px;
}

.news__container {

  @media (min-width: $tablet-width) {
    width: 674px;
  }

  @media (min-width: $desktop-width) {
    width: 1240px;
  }
}

.news__title {
  font-weight: 400;
  color: var(--brand, #333333);
  font-size: 20px;
  margin-block: 0 30px;
  text-align: center;
}

.news__tabs {
  @include list-reset;
}

.news__tabs-item {
  display: inline-block;
  width: auto;
}

.news__tab {

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    padding: 16px 22px;
  }

  &:hover {
    opacity: 1;
    background: transparent;
  }

  &:focus,
  &:focus-visible {
    background-color: var(--white, #ffffff);
  }
}

.news__tab--current {
  box-shadow:inset 0 0 0 2px var(--brand, #0000ff);
  background-color: transparent;
  opacity: 1;

  &:focus,
  &:focus-visible {
    background-color: transparent;
  }
}

.news__swiper {
  @include list-reset;
  height: 590px;

  @media (max-width: $tablet-width) {
    height: 730px;
  }


}

.news__swiper-slide {
  height: 400px;
  width: 604px;
}

.news__swiper-slide:not(:first-child) {
  flex-shrink: 1;
}

.news__swiper-slide:first-child {
  width: 604px;
}

.news__image-wrapper {
  height: 100%;
  display: grid;
}

.news__content{
  width: 279px;
  grid-row: 1;
  grid-column: 1;
  height: fit-content;
  align-self: end;
}

.news__slide-image {
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
  object-position: top center;
  vertical-align: bottom;
  grid-row: 1;
  grid-column: 1;
}

picture:has(.news__slide-image) {
  display: contents;
}

.news__content time {
  font-style: 12px;
  line-height: 12px;
  padding: 12px 12px 6px 0;
  color: var(--brand, #0000ff);

  &::after {
    bottom: 5px;
  }
}

.news__slide-title {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--brand, #0000ff);
  margin-block: 0;
  margin-inline-end: 79px;
  padding: 10px 18px 4px 0;

  &::after {
    bottom: 0;
  }
}

.news__text-wrapper {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 14px;
  margin-inline-end: 16px;

  &::after {
    bottom: 0;
  }
}

.news__lide-link {
  margin-inline: 10px;
}


.news__content time,
.news__slide-title,
.news__text-wrapper {
  position: relative;
  background-color: var(--light-accent, #ffffff);
  border-radius: 0 16px 0 0;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    mask-image: url("/__spritemap#sprite-indented-corner-view");
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: center;
    background-color: var(--light-accent, #ffffff);
    transform: rotate(-90deg);
    right: -10px;
  }
}
