.news {
  padding-block: 50px;
}

.news__container {

  @media (min-width: $tablet-width) {
    width: 674px;
  }
}

.news__title {
  font-weight: 400;
  color: var(--brand, #333333);
  font-size: 20px;
  margin-block: 0 30px;
  text-align: center;
}

.news__tabs {
  @include list-reset;
}

.news__tabs-item {
  display: inline-block;
  width: auto;
}

.news__tab {

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    padding: 16px 22px;
  }

  &:hover {
    opacity: 1;
    background: transparent;
  }

  &:focus,
  &:focus-visible {
    background-color: var(--white, #ffffff);
  }
}

.news__tab--current {
  box-shadow:inset 0 0 0 2px var(--brand, #0000ff);
  background-color: transparent;
  opacity: 1;

  &:focus,
  &:focus-visible {
    background-color: transparent;
  }
}

.news__swiper {
  @include list-reset;
  height: 590px;
}

.news__slide-image {
  vertical-align: bottom;
}

picture:has(.news__slide-image) {
  display: contents;
}
