.page {
  height: 100vh;
  box-sizing: border-box;
  font-family: "Manrope", "Arial", sans-serif;
  font-weight: 400;
  color: var(--color-gray, );
  font-size: 14px;
  line-height: 20px;
  background-color: var(--color-error, #2d383f);
}

.page__body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.page__body.lock {
  overflow: hidden;
  height: 100%;
}
