.page {
  scroll-behavior: smooth;
}

.page__body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--bg, #ffffff);
  font-family: "Manrope", "Arial", sans-serif;
  font-weight: 400;
  color: var(--text, #333333);
  font-size: 14px;
  line-height: 20px;
}

.page__body::before {
  content: "";
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 2;
}

.page__body.page__body--overlay::before {
  display: block;
}
