.page__body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--bg, #ffffff);
  font-family: "Manrope", "Arial", sans-serif;
  font-weight: 400;
  color: var(--text, #333333);
  font-size: 14px;
  line-height: 20px;
}

.page__body.lock {
  overflow: hidden;
  height: 100%;
}
