.programs__container {
  position: relative;
}

.programs__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    margin-block-end: 50px;
  }
}

.programs__title {
  @include title;
  font-size: 20px;
  margin-block: 0 35px;

  @media (min-width: $tablet-width) {
    font-size: 34px;
    line-height: 50px;
  }
}

.programs__link {
  text-decoration: none;
  margin-block-start: 30px;
}

.swiper-button-prev,
.swiper-button-next {
    color: transparent;
}

.programs__button-prev,
.programs__button-next {
  width: 22px;
  height: 22px;
  top: 24px;

    &::before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    mask: url("/__spritemap#sprite-arrow-link-view") center / cover no-repeat;
    background-color: var(--light-gray, #333333);
  }

  @media (min-width: $tablet-width) {
    top: 40px;
  }
}

.programs__button-prev {
  right: 30px;

  &::before{
    background-color: var(--swiper-navigation-color, #0000ff);
    transform: rotate(-135deg);
  }
}

.programs__button-next {
  right: 0;

  &::before{
    background-color: var(--swiper-navigation-color, #0000ff);
    transform: rotate(45deg);
  }
}

.programs__swiper-scrollbar {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    height: 2px;
    background-color: color-mix(in sRGB, var(--brand, #0000ff) 20%, transparent);
  }
}

.programs__slide {
  --radius: 12px;
  display: flex;
  align-items: center;
  background: var(--programs-slide-background) no-repeat center/cover;
  text-align: center;
  min-height: 400px;
  border-radius: var(--radius);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-overlay, transparent);
    border-radius: var(--radius);
  }

  @media (min-width: $tablet-width) {
    min-height: 420px;
  }
}

.programs__slide--internship {
  --programs-slide-background:
    image-set(
      "../img/programs-slider/internship/internship-mobile@1x.webp" 1x,
      "../img/programs-slider/internship/internship-mobile@2x.webp" 2x,
      "../img/programs-slider/internship/internship-mobile@1x.jpg" 1x,
      "../img/programs-slider/internship/internship-mobile@2x.jpg" 2x
    );

  @media (min-width: $tablet-width) {
    --programs-slide-background:
      image-set(
        "../img/programs-slider/internship/internship-tablet@1x.webp" 1x,
        "../img/programs-slider/internship/internship-tablet@2x.webp" 2x,
        "../img/programs-slider/internship/internship-tablet@1x.jpg" 1x,
        "../img/programs-slider/internship/internship-tablet@2x.jpg" 2x
      );
  }

  @media (min-width: $desktop-width) {
    --programs-slide-background:
      image-set(
        "../img/programs-slider/internship/internship-desktop@1x.webp" 1x,
        "../img/programs-slider/internship/internship-desktop@2x.webp" 2x,
        "../img/programs-slider/internship/internship-desktop.jpg" 1x,
        "../img/programs-slider/internship/internship-desktop@2x.jpg" 2x
      );
  }
}

.programs__slide--volunteer {
  --programs-slide-background:
    image-set(
      "../img/programs-slider/volunteer/volunteer-mobile@1x.webp" 1x,
      "../img/programs-slider/volunteer/volunteer-mobile@2x.webp" 2x,
      "../img/programs-slider/volunteer/volunteer-mobile@1x.jpg" 1x,
      "../img/programs-slider/volunteer/volunteer-mobile@2x.jpg" 2x
    );

  @media (min-width: $tablet-width) {
    --programs-slide-background:
      image-set(
        "../img/programs-slider/volunteer/volunteer-tablet@1x.webp" 1x,
        "../img/programs-slider/volunteer/volunteer-tablet@2x.webp" 2x,
        "../img/programs-slider/volunteer/volunteer-tablet@1x.jpg" 1x,
        "../img/programs-slider/volunteer/volunteer-tablet@2x.jpg" 2x
      );
  }

  @media (min-width: $desktop-width) {
    --programs-slide-background:
      image-set(
        "../img/programs-slider/volunteer/volunteer-desktop@1x.webp" 1x,
        "../img/programs-slider/volunteer/volunteer-desktop@2x.webp" 2x,
        "../img/programs-slider/volunteer/volunteer-desktop.jpg" 1x,
        "../img/programs-slider/volunteer/volunteer-desktop@2x.jpg" 2x
      );
  }
}

.programs__slide--learning {
  --programs-slide-background:
    image-set(
      "../img/programs-slider/learning/learning-mobile@1x.webp" 1x,
      "../img/programs-slider/learning/learning-mobile@2x.webp" 2x,
      "../img/programs-slider/learning/learning-mobile@1x.jpg" 1x,
      "../img/programs-slider/learning/learning-mobile@2x.jpg" 2x
    );

  @media (min-width: $tablet-width) {
    --programs-slide-background:
      image-set(
        "../img/programs-slider/learning/learning-tablet@1x.webp" 1x,
        "../img/programs-slider/learning/learning-tablet@2x.webp" 2x,
        "../img/programs-slider/learning/learning-tablet@1x.jpg" 1x,
        "../img/programs-slider/learning/learning-tablet@2x.jpg" 2x
      );
  }

  @media (min-width: $desktop-width) {
    --programs-slide-background:
      image-set(
        "../img/programs-slider/learning/learning-desktop@1x.webp" 1x,
        "../img/programs-slider/learning/learning-desktop@2x.webp" 2x,
        "../img/programs-slider/learning/learning-desktop.jpg" 1x,
        "../img/programs-slider/learning/learning-desktop@2x.jpg" 2x
      );
  }
}

