.programs {
  margin-block-end: 50px;
}

.programs__container {
  position: relative;
}

.programs__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    margin-block-end: 50px;
  }
}

.programs__title {
  @include title;

  font-size: 20px;
  margin-block: 0 35px;

  @media (min-width: $tablet-width) {
    font-size: 34px;
    line-height: 50px;
  }
}

.programs__link {
  text-decoration: none;
  margin-block-start: 30px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
  }
}

.programs__slide {
  --radius: 12px;
  display: grid;
  align-items: end;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-overlay, transparent);
    border-radius: var(--radius);
  }

  @media (min-width: $tablet-width) {
    min-height: 420px;
  }
}

picture:has(.programs__slide-image) {
  display: contents;
}

.programs__slide-image {
  vertical-align: bottom;
  border-radius: var(--radius);
  grid-area: 1/1;
}

.programs__content {
  grid-area: 1/1;
  margin-inline: 10px;
  margin-block-end: 18px;
}

.programs__slide-title {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--brand, #0000ff);
  padding: 18px 35px 6px 18px;
  border-radius: 12px 12px 0 0;
  margin-block: 0;

  &::after {
    bottom: 0;
    top: auto;
  }
}

.programs__content-wrapper {
  display: flex;
  justify-content: space-between;
  padding-inline: 18px;
  align-items: center;
  border-radius: 0 12px 12px 12px;

  p {
    font-size: 12px;
    line-height: 14px;
    margin-block: 12px 15px;
  }

  &::after {
    display: none;
  }
}
