.programs {
  margin-block:54px 50px;
}

.programs__container {
  position: relative;
}

.programs__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    margin-block-end: 50px;
  }
}

.programs__title {
  @include title;

  font-size: 20px;
  margin-block: 0 35px;

  @media (min-width: $tablet-width) {
    font-size: 34px;
    line-height: 50px;
  }
}

.programs__link {
  text-decoration: none;
  margin-block-start: 30px;
  background-color: transparent;
  padding-inline-start: 29px;
  gap: 35px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
  }
}

.programs__slide {
  --radius: 12px;

  display: grid;
  align-items: start;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-overlay, transparent);
    border-radius: var(--radius);
  }

  @media (min-width: $tablet-width) {
    min-height: 420px;
  }
}

picture:has(.programs__slide-image) {
  display: contents;
}

.programs__slide-image {
  vertical-align: bottom;
  border-radius: var(--radius);
  grid-area: 1/1;
}

.programs__content {
  margin-block-start: 271px;
  grid-area: 1/1;
  display: grid;
  min-height: 111px;
  margin-inline: 10px;

  @media (min-width: $tablet-width) {
    margin-block-start: 285px;
    margin-inline: 20px;
    min-height: 123px;
  }

  @media (min-width: $desktop-width) {
    margin-block-start: 280px;
    margin-inline-end: 51px;
  }
}

.programs__slide-title {
  grid-column: 1/2;
  display: inline-block;
  min-width: 146px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--brand, #0000ff);
  padding: 18px 0 6px 18px;
  border-radius: 12px 12px 0 0;
  margin-block: 0;

  &::after {
    bottom: 0;
    top: auto;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 17px;
  }
}

.programs__content-wrapper {
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding-inline: 18px;
  align-items: center;
  border-radius: 0 12px 12px;

  &::after {
    display: none;
  }
}

.programs__text {
  display: flex;
  flex-wrap: wrap;
}

.programs__text p {
  font-size: 12px;
  line-height: 14px;
  margin-block: 12px 15px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    line-height: 18px;
  }
}
