.review {
  --accent-color: var(--brand, #0000ff);
  display: flex;
  flex-direction: column;
  min-height: 472px;
  box-shadow: inset 0 0 0 2px var(--accent-color);
  border-radius: 16px;
  padding: 32px 17px;

  @media (min-width: $tablet-width) {
    min-height: 417px;
    padding: 52px;
  }
}

.review__header {
  display: grid;
  grid-template-columns: max-content;
  gap: 10px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }
}

.review__user {
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
}

.review__user-name {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--accent-color);
  margin-block: 12px;
  grid-column: 2/3;
  align-self: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

}

.review__details-term {
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: var(--accent-color);
}

.review__details-description {
  margin-block-start: 8px;
  font-size: 12px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
  }
}

.review__body {
  margin: 0;
}

.review__body-title {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--accent-color);
  margin-block: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin-block: 25px;
  }
}

.review__body p {
  margin-block-end: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

picture:has(.review__user-avatar) {
  display: contents;
}

.review__details {
  display: flex;
  gap: 25px;
  grid-column: 1/3;
  margin-block: 5px;

  @media (min-width: $tablet-width) {
    justify-content: end;
    grid-column: 2/3;
    grid-row: 1;
  }
}

.review__details-container {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    justify-content: center;
  }
}

.review__details-description {
  margin-inline-start: 0;
}
