.slide-link {
  position: relative;
  display: block;
  border-radius: 50%;
  background-color: var(--brand, #0000ff);
  width: 30px;
  height: 30px;
  flex-shrink: 0;

  &::before {
  content: "";
  display: block;
  position: absolute;
  mask: url("/__spritemap#sprite-arrow-link-view") center / cover no-repeat;
  width: 8px;
  height: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white, #ffffff);
  }
}
