.social {
  @include list-reset;

  --icon-bg: var(--brand, #0000ff);
  --icon-fill: var(--white, #ffffff);
  --link-active: var(--active, #0000ff);
  --link-size: 26px;

  display: flex;
  justify-content: center;
  column-gap: 10px;

  @media (min-width: $tablet-width) {
    justify-content: end;
    column-gap: 20px;

    --link-w: 36px;
    --link-h: 36px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 20px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--link-size);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--icon-bg);
}

.social__link::before {
  content: "";
  display: block;
  mask-image: var(--icon);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  background-color: var(--icon-fill);
  width: var(--icon-w);
  height: var(--icon-h);
}

.social__link--vk::before {
  --icon: url("/__spritemap#sprite-vk-view");
  --icon-w: 12px;
  --icon-h: 6px;

  @media (min-width: $tablet-width) {
    --icon-w: 16px;
    --icon-h: 9px;
  }
}

.social__link--ok::before {
  --icon: url("/__spritemap#sprite-ok-view");
  --icon-w: 6px;
  --icon-h: 12px;

  @media (min-width: $tablet-width) {
    --icon-w: 10px;
    --icon-h: 16px;
  }
}

.social__link--reddit::before {
  --icon: url("/__spritemap#sprite-reddit-view");
  --icon-w: 11px;
  --icon-h: 11px;

  @media (min-width: $tablet-width) {
    --icon-w: 15px;
    --icon-h: 15px;
  }
}

.social__link:hover::before {
  opacity: 0.7;
}

.social__link:focus,
.social__link:focus-visible {
  background-color: var(--icon-fill);
  outline: none;

  &::before {
    background-color: var(--icon-bg);
    opacity: 1;
  }
}

.social__link:active {
  background-color: var(--link-active);

  &::before {
    background-color: var(--icon-fill);
  }
}
