.toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 134px;
  min-height: 54px;
  position: relative;
  background: var(--white, #ffffff);
  border: 1px solid var(--brand, #316dc2);
  border-radius: 30px;
  outline: none;
  padding: 0 4px 0 20px;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--brand, #316dc2);
}

.toggle__icon {
  position: relative;
  display: block;
  width: 46px;
  height: 46px;
  background: var(--brand, #316dc2);
  border-radius: 44px;
}

.toggle__icon--open::before {
  content: "";
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 18px;
  height: 1px;
  background-color: var(--white, #ffffff);
  box-shadow: 0 -4px 0 0 var(--white, #ffffff), 0 4px 0 0 var(--white, #ffffff);
}

.toggle__icon--close {
  background: var(--white, #ffffff);

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 30%;
    width: 18px;
    height: 1px;
    background-color: var(--brand, #316dc2);
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.toggle:has(.toggle__icon--close) {
  background: var(--brand, #316dc2);
}

.toggle:has(.toggle__icon--close) {
  background: var(--brand, #316dc2);
}

.toggle:has(.toggle__icon--close) span {
  color: var(--white, #ffffff);
}
