
@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin link-reset {
  color: inherit;
  text-decoration: none;
  margin: 0;
}

@mixin title {
  font-weight: 400;
  color: var(--brand, #333333);
}
