
@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin link-reset {
  color: inherit;
  text-decoration: none;
}

@mixin title {
  font-weight: 400;
  color: var(--brand, #333333);
}

@mixin link-disabled {
  pointer-events: none;
  color: var(--disable, #a0a0a0);
  background-color: var(--disable, #a0a0a0);
  cursor: not-allowed;
}

@mixin feedback-bg {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin form-fields {
  appearance: none;
  border: none;
  border-radius: 8px;
  padding: 15px 24px;
  background: transparent;
  box-shadow: inset 0 0 0 1px color-mix(in sRGB, var(--white, #ffffff) 30%, transparent);
}
