
@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin link-reset {
  color: inherit;
  text-decoration: none;
  margin: 0;
}

@mixin title {
  font-weight: 400;
  color: var(--brand, #333333);
}

@mixin link-disabled {
  pointer-events: none;
  color: var(--disable, #a0a0a0);
  background-color: var(--disable, #a0a0a0);
  cursor: not-allowed;
}
