$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

:root {
  --dark-gray: #2d383f;
  --soft-gray: #d9d9d9;
  --base-white: #ffffff;
  --transparent-white: rgb(255, 255, 255, 0.5);
  --nuvy-blue: #1c3374;
  --dark-blue: #0266c1;
  --disabled: #999999;

  // Переопределённые свойства для свайпера
  --swiper-pagination-bottom: 40px;
  --swiper-pagination-top: auto;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --action-points-gap: 25px;

  @media (min-width: $desktop-width) {
     --swiper-pagination-bottom: 92px;
  }
}
