$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

:root {
  --brand: #316dc2;
  --active: #275699;

  --white: #ffffff;
  --beige:#f0efe9;
  --gray: #484848;
  --light-gray: #a9afb7;
  --orange-dawn: #ff5e66;

  --bg:var(--beige) ; // Запасной #ffffff;
  --text:var(--gray); // Запасной #333333;
  --attention: var(--orange-dawn); // Запасной #ff0000;
  --disabled: var(--light-gray); // Запасной #a0a0a0;

  --color-overlay: color-mix(in sRGB, var(--brand) 20%, transparent);
  // Для серого оверлея просто переопределять в media --color-overlay: rgba(13, 29, 51, 0.4);
}
