@import "common/mixins";
@import "common/fonts";
@import "common/variables";
@import "common/base";
@import "common/global";
@import "common/common-control";
@import "swiper/css";
@import 'swiper/css/grid';
@import "swiper/css/pagination";
@import "swiper/css/navigation";
@import "swiper/css/scrollbar";
@import "blocks/button";
@import "blocks/page";
@import "blocks/container";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/nav-accordion";
@import "blocks/toggle";
@import "blocks/hero";
@import "blocks/about";
@import "blocks/intention";
@import "blocks/criteria";
@import "blocks/programs";
@import "blocks/grant.scss";
@import "blocks/reviews.scss";
@import "blocks/review.scss";
@import "blocks/contacts.scss";
@import "blocks/news.scss";
@import "blocks/faq.scss";
@import "blocks/accordion.scss";
@import "blocks/feedback.scss";
@import "blocks/custom-select.scss";
@import "blocks/footer";
@import "blocks/footer-nav";
@import "blocks/social";
