@import "common/mixins";
@import "common/fonts";
@import "common/variables";
@import "common/base";
@import "common/global";
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";
@import "swiper/css/scrollbar";
@import "blocks/page";
@import "blocks/container";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/nav-accordion";
@import "blocks/toggle";
@import "blocks/hero";
@import "blocks/about";
@import "blocks/intention";
@import "blocks/criteria";
@import "blocks/button";
@import "blocks/programs";
@import "blocks/footer";
@import "blocks/footer-nav";
@import "blocks/social";

