@import "common/variables";
@import "common/mixins";
@import "common/root";
@import "common/fonts";
@import "swiper/css";
@import "swiper/css/grid";
@import "swiper/css/pagination";
@import "swiper/css/navigation";
@import "swiper/css/scrollbar";
@import "common/global";
@import "common/base";
@import "blocks/common-control";
@import "blocks/page";
@import "blocks/container";
@import "blocks/btn";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/hero";
@import "blocks/about";
@import "blocks/programs";
@import "blocks/slide-link";
@import "blocks/slide-content";
@import "blocks/intention";
@import "blocks/criteria";
@import "blocks/grant";
@import "blocks/news";
@import "blocks/faq";
@import "blocks/reviews";
@import "blocks/review";
@import "blocks/contacts";
@import "blocks/accordion";
@import "blocks/feedback";
@import "blocks/custom-select";
@import "blocks/social";
@import "blocks/footer";
@import "blocks/footer-nav";
