@import "common/mixins";
@import "common/fonts";
@import "common/variables";
@import "common/base";
@import "common/global";

@import "swiper/css";
@import "swiper/css/pagination";

@import "blocks/page";
@import "blocks/container";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/nav-accordion";
@import "blocks/toggle";
@import "blocks/hero";
@import "blocks/about";
@import "blocks/intention";
@import "blocks/criteria.scss";
@import "blocks/button.scss";
@import "blocks/footer";
@import "blocks/footer-nav";
@import "blocks/social";

