@import 'swiper/css';
@import 'swiper/css/pagination';
@import "vendor/normalize";
@import "common/base";
@import "common/fonts";
@import "common/global";
@import "common/mixins";
@import "common/variables";
@import "blocks/page";
@import "blocks/header";
@import "blocks/container";
@import "blocks/nav";
@import "blocks/toggle";
@import "blocks/nav-accordion";
